
#container{
    margin: auto;
    margin-top: 10%;
    font-size: 30px;
    border: 7px solid black;
    width: 500px;
    height: 500px;
    text-align: center;
}
#title{ 
    background-color: rgba(120, 88, 88, 0);
    width: fit-content;
    height:  fit-content;
    margin-top: -15%;
    margin-left: 29%;
    background-color: white;
    color: crimson;
}
#title2{
    color: crimson;
    text-align: center;
    font-size: 200px;
}
input{
    width: 200px;
    height: 30px;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 30px;
}
input::placeholder{
    font-size: 30px;
}
button{
    margin-top: 2%;
    width: 200px;
    height: 50px;
    font-size: 30px;
    background-color: crimson;
    color: white;
    margin-top: 6%;
}
